.home
  padding: 60px 0

  .btnToolbar
    display: inline-block

  .paginationButtons
    margin-bottom: 20px
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    max-width: 671px